:global(.ltr) .replyLink {
    margin-left: 50px;
}
:global(.rtl) .replyLink {
    margin-right: 50px;
}

@media (min-width: 1200px) {
    .content {
        display: flex;
    }
}

@media (max-width: 659px) {
    :global(.ltr) .replyLink {
        float: right;
    }
    :global(.rtl) .replyLink {
        float: left;
    }
}
