.ltr .ViewPage__ReplyLink {
    margin-left: 50px;
}
.rtl .ViewPage__ReplyLink {
    margin-right: 50px;
}

@media (min-width: 1200px) {
    .ViewPage__Content {
        display: flex;
    }
}

@media (max-width: 659px) {
    .ltr .ViewPage__ReplyLink {
        float: right;
    }
    .rtl .ViewPage__ReplyLink {
        float: left;
    }
}
