.attribution {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.item {
    display: inline-block;
    margin-right: 50px;
}

.item:last-child {
    margin-right: 0;
}

.itemText {
    font-size: 30px;
}

@media (max-width: 659px) {
    .item {
        margin-right: 30px;
    }

    .itemFlag {
        width: 60px !important;
        height: 60px !important;
    }

    .itemText {
        font-size: 20px;
    }
}
