.LanguageSelectionScreen__Attribution {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.LanguageSelectionScreenItem {
    display: inline-block;
    margin-right: 50px;
}

.LanguageSelectionScreenItem:last-child {
    margin-right: 0;
}

.LanguageSelectionScreenItem__Text {
    font-size: 30px;
}

@media (max-width: 659px) {
    .LanguageSelectionScreenItem {
        margin-right: 30px;
    }

    .LanguageSelectionScreenItem__Flag {
        width: 60px !important;
        height: 60px !important;
    }

    .LanguageSelectionScreenItem__Text {
        font-size: 20px;
    }
}
