.children {
    position: absolute;
    left: 16px;
    top: 16px;
    right: 72px;
}

.children :global(a.link) {
    color: white !important;
}

@media (max-width: 659px) {
    .component :global(.xr_btn__download) {
        display: none !important;
    }
}
